target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
.vscode
.factorypath
runelite-client/src/main/java/net/runelite/client/plugins/runecraft
runelite-client/src/main/java/net/runelite/client/plugins/zulrah